<%= page_header "After-meetup Activities" do %>
  <%= link_to 'Add New Activity', new_activity_path, class: "btn btn-warning float-right" %>
<% end %>

<% @activities.each do |activity| %>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title"><%= activity.title %></h3>
    </div>
    <div class="panel-body">
      <%= activity.description %>
    </div>
    <div class="panel-footer"><%= activity.max %></div>
  </div>
<% end %>
