<%= page_header "After-meetup Activities" do %>
  <%= link_to 'Add New Activity', new_activity_path, class: "btn btn-warning float-right" %>
<% end %>
<div>
  <% if current_user %>
    <%= current_user.name %> | <%= link_to "Sign Out", signout_path %>
    <br><br>
    <div>
      Current User = <%= current_user.name %>
    </div>
    <div>
      Provider =  <%= current_user.provider %>
    </div>
    <div>
      UID = <%= current_user.uid %>
    </div>
    <div>
      Created At = <%= current_user.created_at %>
    </div>
    <div>
      Updated At = <%= current_user.updated_at %>
    </div>
    <div>
      Photo URL = <%= current_user.photo_url %>
    </div>
    <div class="bcp-avatar" style="background-image: url(<%= current_user.photo_url %>);">avatar</div>

  <% else %>
    <%= link_to "Sign in with Meetup.com", "/auth/meetup" %>
  <% end %>
</div>

<% @activities.each do |activity| %>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title"><%= activity.title %></h3>
    </div>
    <div class="panel-body">
      <%= activity.description %>
    </div>
    <div class="panel-footer"><%= activity.max %></div>
  </div>
<% end %>
