<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>BoulderCODEplus.org</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#"><%= image_tag "logo-bcp.jpg", class: "bcp-logo" %></a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to_unless_current("Home", root_path) %></li>
            <li><%= link_to_unless_current("Contact", contact_path) %></li>
            <li><%= link_to_unless_current("Plus (after-meetup activities)", activities_path) %></li>
            <li>
              <% if current_user %>
                <%= link_to signout_path do %>
                  Sign out <%= image_tag(current_user.photo_url, class: "bcp-logo-user") %>
                <% end %>
              <% else %>
                <%= link_to '/auth/meetup' do %>
                  Sign in with <%= image_tag('logo-meetup.png', class: "bcp-logo-meetup") %>
                <% end %>
              <% end %>
            </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container">
      <div class="bcp-main"></div>

      <%= yield %>

    </div><!-- /.container -->

  </body>
</html>
